<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.javaboy.vhr.mapper.ExwasteMapper">

<resultMap id="findWatesList" type="org.javaboy.vhr.model.Exwaste">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="envlp" jdbcType="VARCHAR" property="enVlp"/>
    <result column="envlpc" jdbcType="INTEGER" property="enVlpc"/>
    <result column="entollstationname" jdbcType="VARCHAR" property="entollStationname"/>
    <result column="extollstationname" jdbcType="VARCHAR" property="extollStationname"/>
    <result column="extime"  jdbcType="TIMESTAMP" property="exTime"/>
    <result column="remarks"  jdbcType="VARCHAR" property="reMarks"/>
</resultMap>
<sql id="Base_Exwaste_List" >
    id,envlp,envlpc,entollstationname,extollstationname,extime,remarks     </sql>
<select id="getAllExwastes"  resultMap="findWatesList">
    select
    <include refid="Base_Exwaste_List" />
    from tbl_exwaste
    <if test="exw.enVlp !=null and exw.enVlp!=''">
        where envlp like concat('%',#{exw.enVlp},'%')
    </if>
    <if test="page !=null and size!=null">
        limit #{page},#{size}
    </if>
</select>

<select id="getAllExwastesNum"  resultType="java.lang.Long">
    select
    count(1)
    from tbl_exwaste

</select>

<delete id="deletecheckrow">
    delete from  tbl_exwaste   where id=#{id};
</delete>
    <update id="updateByPrimaryKeySelective" parameterType="org.javaboy.vhr.model.Employee">
        update tbl_exwaste
        <set>
            <if test="enVlp != null">
                envlp = #{enVlp,jdbcType=VARCHAR},
            </if>

            <if test="enVlpc != null">
                envlpc = #{enVlpc,jdbcType=INTEGER},
            </if>
            <if test="entollStationname != null">
                entollstationname = #{entollStationname,jdbcType=VARCHAR},
            </if>
            <if test="extollStationname!= null">
                extollstationname = #{extollStationname,jdbcType=VARCHAR},
            </if>
            <if test="exTime != null">
                extime = #{exTime,jdbcType=DATE},
            </if>
            <if test="reMarks!= null">
                remarks = #{reMarks,jdbcType=VARCHAR},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tbl_exwaste
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>